<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>jsp-2.2</feature>
        <feature>localConnector-1.0</feature>
        <feature>ssl-1.0</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint"/>


    <applicationMonitor updateTrigger="mbean"/>
    
    <httpSession cookieHttpOnly="true" cookieName="ERP_LIGHT_SESSIONID"/>
    <webContainer deferServletLoad="false"/>
    
    <logging consoleLogLevel="INFO" copySystemStreams="true"/>
    
    <!-- keystore option for testing SSL -->
    <keyStore id="defaultKeyStore" password="yourPassword"/>

    <webApplication id="ERP-light" location="ERP-light-0.0.1-SNAPSHOT.war" name="ERP-light"/>
</server>